<div class="container"
     fxLayout
     fxLayoutAlign="center"
     fxLayoutGap.xs="0">
  <md-toolbar>
    <div class="item item-1"
         fxFlex="20%"
         fxFlexOrder="1">Asian Sports Network</div>
    <div class="item item-2"
         fxFlex
         fxFlexOrder="2"
         fxLayoutAlign="end end">
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>menu</md-icon>
      </button>
      <md-menu
        yPosition="below"
        [overlapTrigger]="false"
        #menu="mdMenu">
        <button md-menu-item>
            <span>Log In</span>
        </button>
        <button md-menu-item disabled>
            <span>Log Out</span>
        </button>
      </md-menu>
    </div>
  </md-toolbar>
</div>

<router-outlet></router-outlet>
